body {
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
}

.main {
  position: relative;
}

.site-page-header.ant-page-header-ghost {
  background-color: #FFF5EE;
  border: 1px solid rgb(186, 193, 203);
  margin-bottom: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.ant-page-header-heading-left
.ant-page-header-back {
  font-size: 24px;
}

.ant-card {
  width: 240px;
}

.ant-card-cover
.card-img {
  height: 350px;
}

.ant-image {
  width: 200px;
  margin-bottom: 20px;
}

.movie {
  text-align: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 1em;
  margin-bottom: 10px;
}

.loader {
  width: 100%;
  position: fixed;
  top: 400px;
  z-index: 9999;
}

.main-list {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-list
.ant-pagination {
  margin: 10px;
}

.ant-card-body
.ant-card-meta {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.movie-about {
  display: flex;
  justify-content: center;

  &__info {
    display: flex;
  }

  &__text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }
}

.movie-about__card
.ant-card-body {
  display: flex;
  flex-direction: column;
}

.movie-about__card
.ant-card {
  width: 1000px;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.ant-select {
  width: 100%;
}

.movie-about__card
.ant-breadcrumb {
  margin-bottom: 10px;
}

.ant-carousel {
  margin-bottom: 20px !important;
  width: 300px !important;
}