@import 'antd/dist/antd.min.css';

body {
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
}

.site-page-header.ant-page-header-ghost {
  background-color: #FFF5EE;
  border: 1px solid rgb(186, 193, 203);
  margin-bottom: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.ant-page-header-heading-left
.ant-page-header-back {
  font-size: 24px;
}

.ant-card {
  width: 240px;
}

.ant-card-cover
.poster {
  height: 350px;
}

.ant-image {
  width: 200px;
  margin-bottom: 20px;
}

#root
.ant-pagination {
  margin: 10px;
}

.ant-card-body
.ant-card-meta {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.about-card
.ant-card-body {
  display: flex;
  flex-direction: column;
}

.about-card
.ant-card {
  width: 1000px;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.ant-select {
  width: 100%;
}

.about-card
.ant-breadcrumb {
  margin-bottom: 10px;
}